---
layout: home
---
         <!-- Content Wrapper -->
         <div class="content-wrapper">
            <!-- Hero Section -->
            <div class="hero-section">
               <div class="hero-content">
                  <div class="container">
                     <img src="{{ "/assets/img/site-brand.png" | relative_url }}" alt="site brand" />
                     <h1 class="hero-title">Tasty Codes</h1>
                     <p class="hero-subtitle">A blog about dev and *stuff*</p>

                     <ul class="clean-list hero-recipes">
                        <li class="hero-recipe">
                           <ul class="clean-list recipes-list">
                                {% for category in site.categories limit:3 %}
                                    <li>
                                        <a href="/categories/#{{ category[0] }}">{{ category[0] }}</a>
                                    </li>
                                {% endfor %}
                           </ul>
                        </li>

                        <li class="hero-recipe">
                           <ul class="clean-list recipes-list">
                                {% for category in site.categories limit:3 offset: 3%}
                                    <li>
                                        <a href="/categories/#{{ category[0] }}">{{ category[0] }}</a>
                                    </li>
                                {% endfor %}
                           </ul>
                        </li>

                        <li class="hero-recipe">
                           <ul class="clean-list recipes-list">
                                {% for category in site.categories limit:3 offset: 6%}
                                    <li>
                                        <a href="/categories/#{{ category[0] }}">{{ category[0] }}</a>
                                    </li>
                                {% endfor %}
                           </ul>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         
            <!-- Recipes Gallery -->
            <!-- <div class="container">
               <h2 class="section-title">Recipes gallery</h2>

               <div class="tt-carousel recipes-carousel" data-items-desktop="4" data-items-to-slide="2" data-items-phone="1" data-infinite="true" data-dots="true">
                  <ul class="clean-list carousel-items">
                      {% assign posts = site.posts | where_exp:"post","post.image294x294" %}
                      {% for post in posts limit:10%}
                        <li class="carousel-item">
                            <div class="small-recipe-box">
                            <div class="hover-box">
                                <h4 class="recipe-title">{{ post.title }}</h4>
                            </div>
                            {% if post.image294x294 %}
                                <a href="{{ post.url }}">
                                    <img src="{{ "/assets/img/blog/" | relative_url }}{{ post.image294x294 }}.jpg" alt="recipe cover" />
                                </a>
                            {% endif %}
                            </div>
                        </li>
                      {% endfor %}
                  </ul>
               </div>
            </div> -->
            <!-- Daily Special Box
            <div class="daily-special-box" data-parallax-bg="{{ "/assets/img/special-recipe-background.jpg" | relative_url }}">
               <div class="box-img-wrapper">
                  <div class="box-img">
                     <span></span>
                  </div>
               </div>

               <div class="container">
                  <h2 class="section-title">Recipes gallery</h2>
                  <span class="section-subtitle">Get inspired</span>

                  <div class="special-recipe">
                     <h4 class="recipe-title">Mexican-style Fish cakes</h4>

                     <div class="recipe-cover">
                        <a href="#">
                           <img src="{{ "/assets/img/special-recipe-cover.jpg" | relative_url }}" alt="recipe cover" />
                        </a>
                     </div>
                  </div>
               </div>
            </div>-->

            <!-- Blog Area -->
            <div class="container">
               <div class="row">
                  <div class="col-md-18">
                     <h2 class="section-title">Latest posts</h2>

                     <div class="row">
                         {% assign posts = site.posts | where_exp:"post","post.image280x280" %}
                         {% for post in posts limit:10%}
                            {% capture assets_subfolder %}{{ post.path | replace: '_posts/', '' | replace: '.md', '' }}{% endcapture %}
                            {% capture assets_path %}{{ "/assets/posts/" | append: assets_subfolder | append: '/' | relative_url }}{% endcapture %}
                             <div class="col-xs-12 col-sm-8 recipe-box-wrapper">
                                <div class="recipe-box">
                                    <div class="box-cover">                        
                                    {% if post.image280x280 %}
                                    <div class="post-cover">
                                        <a href="page-single-recipe.html">
                                            <img src="{{ assets_path }}{{ post.image280x280 }}.jpg" alt="recipe cover" />
                                        </a>
                                    </div>       
                                    {% endif %}
                                    </div>

                                    <h5 class="box-title">                                 
                                        <a href="page-single-recipe.html">{{ post.title }}</a>
                                    </h5>

                                    <p class="category">
                                        {% for category in post.categories %}
                                            {{ category }}{% unless forloop.last %},{% endunless %}
                                        {% endfor %}                                        
                                    </p>
                                </div>
                            </div>
                         {% endfor %}
                     </div>
                         {% for post in site.posts limit:10%}
                            {% capture assets_subfolder %}{{ post.path | replace: '_posts/', '' | replace: '.md', '' }}{% endcapture %}
                            {% capture assets_path %}{{ "/assets/posts/" | append: assets_subfolder | append: '/' | relative_url }}{% endcapture %}
                            <article class="blog-post">
                                <div class="post-meta">
                                    <span class="post-date"><time>{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</time></span>
                                    <h2 class="post-title">
                                        <a href="{{ post.url }}">{{ post.title }}</a>
                                    </h2>
                                </div>
                        
                                {% if post.image880x430 %}
                                <div class="post-cover">
                                    <a href="{{ post.url }}">
                                        <img src="{{ assets_path }}{{ post.image880x430 }}.jpg" alt="post cover" />
                                    </a>
                                </div>       
                                {% endif %}

                                <span class="post-comments"><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.path }}">Comments (0)</a></span>

                                <div class="post-body">
                                    <p class="post-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
                                    <div class="align-center">
                                        <a href="{{ post.url }}" class="btn post-permalink">Read more</a>
                                    </div>
                                </div>
                            </article>
                         {% endfor %}
                  </div>

                  <div class="col-md-6 col-lg-5 col-lg-offset-1">
                      {% include aside.html %}
                  </div>
               </div>
            </div>

            <!-- Instagram Area
            <div class="instagram-area">
               <div class="container">
                  <h2 class="section-title">Instagram photos</h2>
               </div>

               <ul class="instagram-feed clean-list clearfix" data-instagram="6" data-instagram-username="teslademofeeds"></ul>
            </div> -->
         </div>