         <footer class="main-footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="widget widget_text">
                        <h4>Tasty Codes</h4>
                        <p>{{ site.description }}</p>
                     </div>
                  </div>

                  <div class="col-md-7">
                     <!--<div class="widget widget_tagcloud">
                        <h5 class="widget-title">Tags</h5>

                        <div class="tagcloud">
                           <a href="#">
                              <span class="text">Fish</span>
                           </a>
                           <a href="#">
                              <span class="text">Chicken</span>
                           </a>
                           <a href="#">
                              <span class="text">Garlic</span>
                           </a>
                           <a href="#">
                              <span class="text">Onion</span>
                           </a>
                           <a href="#">
                              <span class="text">Meat</span>
                           </a>
                           <a href="#">
                              <span class="text">Potato</span>
                           </a>
                           <a href="#">
                              <span class="text">Tomatoes</span>
                           </a>
                           <a href="#">
                              <span class="text">Pork</span>
                           </a>
                           <a href="#">
                              <span class="text">Seafood</span>
                           </a>
                           <a href="#">
                              <span class="text">Eggs</span>
                           </a>
                           <a href="#">
                              <span class="text">Oil</span>
                           </a>
                           <a href="#">
                              <span class="text">Milk</span>
                           </a>
                           <a href="#">
                              <span class="text">Soup</span>
                           </a>
                           <a href="#">
                              <span class="text">Dessert</span>
                           </a>
                        </div>
                     </div>-->
                  </div>

                  <div class="col-md-6">
                     <!--<div class="widget widget_categories">
                        <h5 class="widget-title">Links</h5>
                        <ul>
                           <li>
                              <a href="#">Beans</a>
                           </li>
                           <li>
                              <a href="#">Pork</a>
                           </li>
                           <li>
                              <a href="#">Rice</a>
                           </li>
                           <li>
                              <a href="#">Seafod</a>
                           </li>
                           <li>
                              <a href="#">Eggs</a>
                           </li>
                           <li>
                              <a href="#">Vegetables</a>
                           </li>
                           <li>
                              <a href="#">Oats</a>
                           </li>
                           <li>
                              <a href="#">Potatoes</a>
                           </li>
                           <li>
                              <a href="#">Fruit</a>
                           </li>
                           <li>
                              <a href="#">Pork</a>
                           </li>
                           <li>
                              <a href="#">Beef</a>
                           </li>
                           <li>
                              <a href="#">Oil</a>
                           </li>
                           <li>
                              <a href="#">Chicken</a>
                           </li>
                           <li>
                              <a href="#">Dessert</a>
                           </li>
                        </ul>
                     </div>-->
                  </div>

                  <div class="col-md-5">
                     <div class="widget widget_social">
                        <h5 class="widget-title">Follow me</h5>

                        <ul class="clean-list social-platforms">
                           <li>
                              <a href="https://www.facebook.com/{{ site.facebook_username }}/" target="_blank">
                                 <i class="icon-facebook"></i>
                                 <span>facebook</span>
                              </a>
                           </li>
                           <li>
                              <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                                 <i class="icon-twitter"></i>
                                 <span>twitter</span>
                              </a>
                           </li>
                           <li>
                              <a href="https://www.instagram.com/{{ site.instagram_username }}/" target="_blank">
                                 <i class="icon-instagram"></i>
                                 <span>instagram</span>
                              </a>
                           </li>
                           <li>
                              <a href="https://plus.google.com/{{ site.googleplus_username }}" target="_blank">
                                 <i class="icon-pinterest"></i>
                                 <span>Google+</span>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>

               <p class="copyrights align-center">Copyright 2016 <a href="http://www.spiritconsultingllc.com/" target="_blank">Spirit Consulting</a></p>
            </div>
         </footer>