         <footer class="main-footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="widget widget_text">
                        <h4>Tasty Codes</h4>
                        <p>{{ site.description }}</p>
                     </div>
                  </div>

                    <div class="col-md-7">
                        <div class="widget widget_tagcloud">
                            <h5 class="widget-title">Tags</h5>

                            <div class="tagcloud">
                                {% for tag in site.tags %}
                                    <a href="/tags/#{{ tag[0] }}">
                                        <span class="text">{{ tag[0] }}</span>                                    
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                  <div class="col-md-6">
                     <div class="widget widget_categories">
                        <h5 class="widget-title">Links</h5>
                        <ul>
                            {% for category in site.categories %}
                                <li>
                                    <a href="/categories/#{{ category[0] }}">{{ category[0] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                     </div>
                  </div>

                  <div class="col-md-5">
                     <div class="widget widget_social">
                        <h5 class="widget-title">Follow me</h5>

                        <ul class="clean-list social-platforms">
                           <li>
                              <a href="https://www.facebook.com/{{ site.facebook_username }}/" target="_blank">
                                 <i class="icon-facebook"></i>
                                 <span>facebook</span>
                              </a>
                           </li>
                           <li>
                              <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                                 <i class="icon-twitter"></i>
                                 <span>twitter</span>
                              </a>
                           </li>
                           <li>
                              <a href="https://www.instagram.com/{{ site.instagram_username }}/" target="_blank">
                                 <i class="icon-instagram"></i>
                                 <span>instagram</span>
                              </a>
                           </li>
                           <li>
                            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" target="_blank">
                                <i class="icon-linkedin"></i>
                                <span>LinkedIn</span>
                            </a>
                            </li>
                            <li>
                              <a href="https://plus.google.com/{{ site.googleplus_username }}" target="_blank">
                                 <i class="icon-pinterest"></i>
                                 <span>Google+</span>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>

               <p class="copyrights align-center">Copyright 2018 <a href="http://www.spiritconsultingllc.com/" target="_blank">Spirit Consulting</a></p>
            </div>
         </footer>