      <!-- Scripts -->
      <script src="{{ "/assets/js/vendors/jquery.js" | relative_url }}"></script>
      <script src="{{ "/assets/js/vendors/modernizr.js" | relative_url }}"></script>
      <script src="{{ "/assets/js/vendors/imagesloaded.js" | relative_url }}"></script>
      <script src="{{ "/assets/js/vendors/isotope.js" | relative_url }}"></script>
      <script src="{{ "/assets/js/vendors/slick.js" | relative_url }}"></script>
      <script src="{{ "/assets/js/options.js" | relative_url }}"></script>
      <script id="dsq-count-scr" src="//tasty-codes.disqus.com/count.js" async></script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118824408-1"></script>
      <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-118824408-1');
      </script>
