<ul class="clean-list share-block">
    <li>
        <a href="#">
            <i class="icon-facebook"></i>
            <span>Facebook</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-twitter"></i>
            <span>twitter</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-pinterest"></i>
            <span>Pinterest</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-google-plus"></i>
            <span>Goole+</span>
        </a>
    </li>
</ul>
