---
layout: default
---
         <!-- Content Wrapper -->
         <div class="content-wrapper">
            <!-- Site Intro -->
            <div class="site-intro">
               <img src="{{ "/assets/img/site-intro-bg.jpg" | relative_url }}" alt="site intro" />
            </div>

            <h2 class="section-title dark">Archive</h2>

            <!-- Blog Area -->
            <div class="container">
               <div class="row">
                  <div class="col-md-18">
                         {% for post in paginator.posts %}
                            <article class="blog-post">
                                <div class="post-meta">
                                    <span class="post-date"><time>{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</time></span>
                                    <h2 class="post-title">
                                        <a href="{{ post.url }}">{{ post.title }}</a>
                                    </h2>
                                </div>
                        
                                {% if post.image880x430 %}
                                <div class="post-cover">
                                    <a href="{{ post.url }}">
                                        <img src="{{ "/assets/img/blog/" | relative_url }}{{ post.image880x430 }}.jpg" alt="post cover" />
                                    </a>
                                </div>       
                                {% endif %}

                                <span class="post-comments">Comments (0)</span>

                                <div class="post-body">
                                    <p class="post-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
                                    <div class="align-center">
                                        <a href="{{ post.url }}" class="btn post-permalink">Read more</a>
                                    </div>
                                </div>
                            </article>
                         {% endfor %}

                     <div class="pagination no-padding">
                        <ul class="page-numbers">
                            {% for i in (1..paginator.total_pages) %}
                           <li>
                               {% if i == paginator.page %}
                                <span class="page-numbers current">{{ i }}</span>
                               {% else %}
                                    {% if forloop.first %}
                                        <a href="/blog/" class="page-numbers">{{ i }}</a>
                                    {% else %}
                                        <a href="/blog/page{{i}}/" class="page-numbers">{{ i }}</a>
                                    {% endif %} 
                               {% endif %}
                           </li>
                            {% endfor %}
                        </ul>
                     </div>
                  </div>

                  <div class="col-md-6 col-lg-5 col-lg-offset-1">
                     {% include aside.html %}
                  </div>
               </div>
            </div>
         </div>